body {
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #282a3a;
    scroll-behavior: smooth;
}

.card {
    font-family: Poppins;
    width: 340px;
    overflow: hidden;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.card-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.profile-image img {
    z-index: 1;
    width: 120px;
    height: 120px;
    position: relative;
    margin-top: -75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border: 10px solid #fff;
    transition-duration: 0.4s;
    transition-property: transform;
}

.profile-image img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.card-content h3 {
    font-size: 25px;
    text-align: center;
    margin: 0;
}

.card-content p {
    font-size: 16px;
    text-align: center;
    margin-top: -1px;
}

.icons {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
    display: flex;
    margin: auto;
    flex: 1;
    justify-content: space-around;
}

.story {
    margin-top: -20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    cursor: pointer;
}

.card .story h4 {
    padding: 5px;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #171717;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.accordion-content.active {
    transition: 0.4s ease-in;
    -webkit-transition: 0.4s ease-in;
    -moz-transition: 0.4s ease-in;
    -ms-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
}
.accordion-content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: 1s ease-out;
    margin-top: -20px;
    box-sizing: border-box;
    display: none;
    background-color: #171717;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
}

.accordion-content p {
    text-align: center;
    box-sizing: border-box;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
}

.icons a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #171717;
    padding: 10px 14px;
    border-radius: 10px;
    transition-duration: 0.4s;
    transition-property: transform;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#yt:hover {
    color: red;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#fb:hover {
    color: blue;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#wa:hover {
    color: green;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#tw:hover {
    color: cyan;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
#ig:hover {
    color: purple;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

/* adsdad */
@media screen and (max-width: 600px) {
    .card {
        width: 90%;
        justify-content: space-around;
    }
    .icons {
        margin-top: 10px;
        justify-content: center;
        width: 80%;
        flex-wrap: wrap;
    }
    .story {
        width: 90%;
    }
}
